$base-color: #a0a0a0;
$black: #000;
$white: #fff;
$success: #ddf9d3;
$successDark: #64b363;
$grayThin: #f7f7f7;
$grayLight: #ececec;
$gray: #cecfcf;
$red: #ff0000;

$font-size-xs: 12px;
$font-size-base: 14px;
$font-size-md: 16px;
$font-size-lg: 20px;
$font-size-xl: 30px;
$font-size-xxl: 46px;

$font-line-height-xs: 16px;
$font-line-height-base: 18px;
$font-line-height-md: 20px;
$font-line-height-lg: 24px;
$font-line-height-xl: 34px;

$font-weight-thin: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

$phone: 575.98px;
$phoneLarge: 767.98px;
$tablet: 991.98px;
$desktop: 1199.98px;
